<div class="card-center">
    <mat-card class="example-card">
        <mat-card-header>
         
        </mat-card-header>
        
        <mat-card-content>
          
        </mat-card-content>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Signin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">

                   
                    
                    
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">

                  <mat-label>Password</mat-label>
                  <input type="password" matInput  placeholder="Ex. pat@example.com">
                </mat-form-field>
           
                <button mat-raised-button color="warn">Login</button>
            
            </mat-tab>
            <mat-tab label="Signup">
                
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">

                   
                    
                    
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Phone number</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">

                   
                    
                    
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">

                   
                    
                    
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Ex. pat@example.com">

                   
                    
                    
                  </mat-form-field>

                  <button mat-raised-button color="primary">Regsister</button>
            </mat-tab>
          
          </mat-tab-group>
        
      </mat-card>
</div>
